# System Configuration
PROJECT_NAME="Jakasipul Core: Mobility API"
ENVIRONMENT="development"

# MongoDB Database Secrets
MONGO_HOST=mongodb
MONGO_PORT=27017
MONGO_DB_NAME=jakasipul_mobility
MONGO_INITDB_ROOT_USERNAME=admin
MONGO_INITDB_ROOT_PASSWORD=your_secure_dev_password_here
